# Maven
target/
dependency-reduced-pom.xml

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Kotlin
.kotlin

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build outputs
dist/
build/

# Runtime data
uploads/
*.log
qr.png

# Mac OS
.DS_Store

# Windows
Thumbs.db